/* frontend/src/components/DisplayCourses.css */
.courses-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.courses-table th, .courses-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.courses-table th {
    font-family: Arial, sans-serif; /* Common professional font */
    font-weight: normal; /* Remove bold styling */
    background-color: rgb(255, 127, 39);;
} /* Orange Title */

.courses-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.courses-table tr:hover {
    background-color: #f1f1f1;
}
.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 500;
    background-color: #959595;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100px;
  }
  
  .add-button:hover {
    background-color: #515151;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }






  .update-form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.update-form h2 {
    margin-bottom: 10px;
}

.update-form input {
    display: block;
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    max-width: 150px;
}

.update-form button {
    margin: 5px;
    padding: 8px 12px;
}
